body {
    margin: 10;
    padding: 10;
    background-color: rgb(255, 255, 202);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
  }
  
  .page {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .user-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .form-header {
    font-size: 1.5rem;
    font-weight: 650;
    display: inline-block;
    color: beige;


  }
  
  .form-body {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
  }
  
  .form-body input {
    height: 2rem;
    border: 1px solid #6f5d5d;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    padding: 0 5px;
  }
  
  .form-terms {
    margin-top: 5px;
  }
  
  .form-submit > button {
    margin-top: 10px;
    width: 100%;
    height: 2rem;
    border-radius: 5px;
    background-color: #1d004b;
    color: #06ff3c;
    font-weight: 650;
    cursor: pointer;
  }
  
  .container {
    display: inline-block;
    background-color: #4000ff;
    padding: 5px;
    border-radius: 10px;
    box-shadow: rgba(22, 12, 12, 0.35) 0 5px 15px;
    margin-bottom: 15px;
  }
  
  .user-history {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ff8787;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px,
      rgba(255, 183, 183, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px,
      rgba(0, 0, 0, 0.09) 0 -3px 5px;
  }
  
  .user-history > h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 5px;
  }
  
  table {
    table-layout: fixed;
    width: 75vw;
    border-collapse: collapse;
  }
  
  td,
  th {
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 5px;
    text-align: center;
  }
  
  td {
    word-wrap: break-word;
    font-size: 1rem;
    font-weight: 400;
  }
  
  label {
    font-size: 18px;
  }
  
  input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }
  
  input {
    font-size: 18px;
  }